<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="GreenEnergyDB"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\GreenEnergyHub1\App_Data\GreenEnergyDB.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState mode="InProc" timeout="60" />
  </system.web>

  <!-- ✅ Allow Login Page -->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- ✅ Allow Register Page (if you have one) -->
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>